{% extends "bases/bootstrap-jquery.html" %}

{% block content %}

<div class="container">
    {% for app in apps %}
   <!-- {{app.parse}} -->
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">{{app.pk}}: {{app.type_content}}</div>
        <div class="card-body">
          <h5 class="card-title">{{app.name}}</h5>
          <p class="card-text">{{app.data}}</p>
          <ul>
            <li>Мест: {{app.max_apps}}</li>
            <li>Номер в ранжированном списке: {{app.n1}}</li>
            <li>Номер по оригиналам: {{app.n2}}</li>
            <li>Номер  с надеждой на то, что, все кто подал оригинал на другую программу, пойдут на неё: {{app.n3}}</li>
          </ul>
          <a href="{{app.url}}" class="btn btn-link">Смотреть весь список</a>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}

{% block tail_js %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}