{% extends "bases/bootstrap-member.html" %}

{% block head_title %}Source{% endblock %}

{% block content %}
<div class="container">
<h2>{{problem}}</h2>
<h4>Описание:</h4>
{{page|safe}}
<h3>Аргументы:</h3>
<!-- TODO for bootstrap -->
<table class="table">
    <thead>
            <tr>
                <th>Источник</th>
                <th>Как раскрыть</th>
            </tr>
    </thead>
    {% for arg in arg_list %}
    <thead>
            <tr>
                <th><a href="{% url 'source_detail' pk=arg.source.pk %}">{{arg.source.author}}: "{{arg.source}}"</a></th>
                <th>{{arg.description}}</th>
            </tr>
    </thead>
    {% endfor %}
</table>
</div>
{% endblock %}

