{% extends "bases/bootstrap-member.html" %}

{% block head_title %}Action{% endblock %}

{% block content %}
<div class="container">
    <h2>Список проблем</h2>
    <div class="panel-group" role="tablist">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="collapseListGroupHeading00">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapseListGroup00" aria-expanded="false" aria-controls="collapseListGroup00">
                    Проблемы без класса
                  </a>
                </h4>
              </div>
              <div id="collapseListGroup00" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading00">
                <ul class="list-group">
                    {% for problem in problem_list %}
                  <li class="list-group-item"><a href="{% url 'problem_detail' pk=problem.pk %}">{{problem}}</a></li>
                  {% endfor %}
                </ul>
                <!-- <div class="panel-footer">Footer</div> -->
              </div>
            </div>
            {% for key, value in li.items %} 
            <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapseListGroupHeading{{key.pk}}">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" href="#collapseListGroup{{key.pk}}" aria-expanded="false" aria-controls="collapseListGroup{{key.pk}}">
                          {{key}}
                        </a>
                      </h4>
                    </div>
                    <div id="collapseListGroup{{key.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading{{key.pk}}">
                      <ul class="list-group">
                            {% for problem in value %}
                            <li class="list-group-item"><a href="{% url 'problem_detail' pk=problem.pk %}">{{problem}}</a></li>
                            {% endfor %}</ul>
                    </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}



