{% extends "bases/bootstrap-member.html" %}

{% block head_title %}Action{% endblock %}

{% block content %}
<div class="container">
<h2>Список источников</h2>
<table class="table">
    <thead>
            <tr>
                <th>Название</th>
                <th>Автор</th>
            </tr>
    </thead>
    {% for source in source_list %}
    <thead>
            <tr>
                <th><a href="{% url 'source_detail' pk=source.pk %}">{{source}}</a></th>
                <th>{{source.author}}</th>
            </tr>
    </thead>
    {% endfor %}
</table>

</div>
{% endblock %}

