{% extends "bases/bootstrap-member.html" %}

{% block head_title %}Source{% endblock %}

{% block content %}
<div class="container">
<h2>{{source}}</h2>
<h4>Описание:</h4>
{{page|safe}}
<h4>Автор:</h4>
{{source.author}}
<h4>об авторе:</h4>
{{source.author.data}}
<h3>Какие проблемы затрагивает:</h3>

<table class="table">
    <thead>
            <tr>
                <th>Название</th>
            </tr>
    </thead>
    {% for problem in problem_list %}
    <thead>
            <tr>
                <th><a href="{% url 'problem_detail' pk=problem.pk %}">{{problem}}</a></th>
            </tr>
    </thead>
    {% endfor %}
</table>

</div>
{% endblock %}

