{% extends "bases/bootstrap-visitor.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="jumbotron text-center">
    <h1>EgeRu</h1>
    <p class="lead">
      Это база знаний, предназначенная для подготовки к <br>соченению в формате ЕГЭ</br>.<a href="{% url 'landing_about' %}">Подробнее.</a>
    </p>
    <p>
      <a class="btn btn-lg btn-success " href="{% url 'account_signup' %}" role="button">Зарегистрироваться</a>
      или
      <a class="btn btn-lg btn-success " href="{% url 'account_login' %}" role="button">Войти</a>
    </p>
  </div>
</div>

{% endblock %}


