{% extends "bases/bootstrap-member.html" %}

{% load bootstrap3 %}

{% block head_title %}Welcome{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% bootstrap_messages %}

    <div class="col-sm-6 col-md-4 col-lg4">
      <p class="sticky taped2" style="width: 250px;">
        <strong>Привет, {{ request.user.name }}!</strong><br>
        Тут ты должен найти много полезного<br />
        и интересного. Я надеюсь, что данное<br />
        приложение тебе поможет...<br />
      </p>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3>Основные разделы:</h3>
      <a href="{% url 'problem_list' %}" class="btn btn-info btn-lg">Список Проблем</a>
      <p></p>      
      <a href="{% url 'source_list' %}" class="btn btn-info btn-lg">Список Источников</a>
      <p></p>
      <!-- TODO: доп. информация -->
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      
    </div>
  </div>
</div>
{% endblock %}


